@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.nav{
    width: 1600px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
    background:  rgb(255, 255, 255);
    
}

h1{
    width: 222px;
    height: 38px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}
.btn{
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;

}
.hero{
    width: 1600px;
    height: 560px;
    padding: 24px 160px 24px 160px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    background: rgb(198, 228, 214);    
    }

.headline{
    width: 622px;
    height: 29px;
    gap: 16;
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
}
.idea{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
width: 610px;
height: 201px;
}
.btn2{
    
    width: 270px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin-top: 24px;
}