@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.body{
    background-color: #f5f5f5;
}
.nav{
    width: 1280px;
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
    /* background:  rgb(255, 255, 255); */
    margin: auto;
    margin-bottom: 20px;
    
}

.heading{
    width: 222px;
    height: 38px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}
.btn{
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;

}
.hero{
    width: 1280px;
    /* height: 560px; */
    /* padding: 24px 160px 24px 160px; */
    border-radius: 24px;
    background: rgb(198, 228, 214);    
    margin: auto;
    }
.hero2{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 64px;
    padding: 60px 117px 60px 117px;
}

.headline{
    gap: 16;
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
}
.idea{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
width: 610px;
height: 201px;
}
.btn2{
    
    width: 270px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    margin-top: 24px;
}
.Pillars2{
    width: 1280px;
    /* padding: 24px 32px 24px 80px; */
    margin: auto;
    padding-top: 80px;
    

}
.Pillars{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
}

.cardicon{
    width: 302px;
height: 244px;
gap: 24;
padding: 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-top: 32px;
}

.Innovation{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
gap: 12;
}
.Dolor{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}

.card-box{
    width: 1280px;
    /* height: 244px; */
    display: flex;
justify-content:center;
align-items: center;
gap: 24px;
margin: auto;
/* padding: 24px 160px 24px 160px; */
}
.card{
    /* width: 302px;
    height: 244px; */
    margin-bottom: 32px;
}